@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open-Sans, sans-serif;
    color: #3a3a3a;
}

h1 {
   font-family: Roboto, sans-serif;
   color: #1b1b1b;
   letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 200%;
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#hero-image {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background: url(../images/hero\ image.png) center center
}
