@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:ital,wght@1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    clear: both;
}

body {
    font-family: Roboto, sans-serif;
    color: #3a3a3a;
}

h1 {
   font-family: Roboto, sans-serif;
   color: #1b1b1b;
   letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 20px;
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    font-weight: 1000;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#hero-image {
    height: 400px;
    width: 100%;
    overflow: hidden;
    background: url(../images/hero\ image.png) center center
}

.hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#hero-text {
    font-size: 200%;
    width: 28%;
    line-height: 200%;
    background: white;
    padding-left: 20px;
}

hr {
    border-bottom: 1px solid black;
    padding-top: 20px;
    width: 96%;
    margin: auto;
}

/* club */

#join-title {
    color: #3a3a3a;
    text-align: left;
    font-family: Roboto, sans-serif;
    font-size: 150%;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 0%;
}

#club {
    height: 600px;
}

#left-join {
    float: left;
    width:33%
}

#left-join-img {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#right-join {
    float: right;
    width: 33%;
}

#right-join-img {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#center-join {
    display: inline-block;
    margin: 0 auto;
    width: 33%;
}

#center-join-img {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

section div h4 {
    font-family: Roboto, sans-serif;
    color: red;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

section div h3 {
    font-family: Noto Sans Jp, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    color: black
}

section div p {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    font-family: Noto Sans Jp, sans-serif;  
    font-size: 120%;
}

#p-books {
    padding-top: 30px;
}

/* Fate of Europe Index */

#fall-img {
    float: left;
    height: 400px;
    width: 70%;
    box-sizing: border-box;
    overflow: hidden;
    background: url(../images/The-Fall-of-The-Western-Roman-Empire.jpg)

}

#fall-text {
    float: right;
    background: black;
    width: 30%;
    height: 400px;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 50px;
}

#heading-two-fall {
    text-decoration: none;
    list-style: none;
    color: red;
    text-align: center;
    font-size: 200%;
    padding-top: 150px;
    vertical-align: middle;
}

#heading-three-fall {
    color: rgba(255, 217, 0, 0.767);
    text-align: center;
    font-size: 120%;
    padding-top: 50px;
}

#paragraph-fall {
    color: white;
    text-align: center;
    padding-top: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 1000;
    background: rgb(102, 102, 102);
    text-align: left;
    display: flex;
    align-items: center;
}

#footer-span {
    color: white;
    margin-left: 10%;
}

#footer-links {
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    margin-left: 120px;
}

#footer-links a:hover {
    border: 2px solid black;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-width: 33%;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

#gallery-height {
    height: 350px;
}


/* Fate of Europe page*/

#fate-h1 {
    clear: both;
    text-align: center;
    font-family: Open-Sans, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    color:black;
    font-size: 200%;
}

#fate-h2 {
    clear: both;
    text-align: center;
    font-family: Open-Sans, san-serif;
    padding-bottom: 20px;
    color: red;
    letter-spacing: 4px;
    font-size: 300%;
}

#fate-hero-img {
    height: 600px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-right: 1px solid black;
    padding-right: 40px;
    padding-left: 40px;
}

.quote {
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-weight: 800;
    padding-top: 20px;
}

#main-text {
    font-family: Noto Sans JP;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 100%;
    margin-bottom: 20px;
}

#bath {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#saxon-map {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* article */

#article {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    width: 33%;
    height: 400px;
    border: 2px solid black;
    overflow: hidden;
}

#article-img {
    background: url(../images/photorealistic-emperors.jpeg);
    display: block;
    margin-left: -75px;
    margin-right: auto;
    margin-top: -40px;
    height: 400px;
    width: auto;
}

#portrait-link {
    text-decoration: none;
    list-style: none;
    color: red;
    padding-left: 5%;
}

.photo-text {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

#sutton-p {
    font-weight: 1000;
}

/* Further listening */

#further-listening {
    width: 65%;
    float: right;
    margin-top: 20px;
    height: 400px;
}

#icon-recommend {
    clear: both;
    width: 50%;
    display: block;
    margin: auto;
    font-size: 40px;
}

#further-icon {
    color: black;
}

#recommend-span{
    padding-left: 30px;
    color: rgb(206, 1, 1);
    letter-spacing: 2px;
}

#p-further {
    font-size: 100%;
    font-family: Roboto;
    font-weight: 1000;
    letter-spacing: 2px;
    padding-top: 10px;
    text-align: left;
    margin-left: 75px;
    margin-right: 75px;
}

#iframe-further {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    height: 200px;
    width: 400px;
    padding-bottom: 100px;
}

/* signup */

fieldset {
    border: 2px solid purple;
    border-radius: 2px;
    padding: 10px;
}

#signup-body {
    background: url(../images/roman-forum-lonely-plant.jpg)
}

#signup-form {
    overflow: hidden;
    display: block;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    font-family: Noto Sans Jp;
}

.text-input {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.text-input:hover {
    background-color: white;
}

.radio-button {
    margin-top: 10px;
}

.join-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-family: Noto Sans Jp;
    text-align: center;
    border-radius: 2px;
    border: 2px solid purple;
    font-weight: 600;
    color: white; 
    background: purple;
}

#form-signup {
    font-weight: 1000;
    background: rgb(0, 189, 189, 0.9);
    padding: 20px;
    border-radius: 3px;
}

#signup-heading {
    text-align: center;
    margin-bottom: 20px;
}

/* media queries */

@media screen and (max-width: 1200px) {
    #article{
        width: 75%;
        display: block;
        margin: auto;
        margin: auto;
        margin-top: 20px;
    }

    #further-listening {
        width: 100%;
    }

    #hero-text {
        font-size: small;
    }

    #menu {
        font-size: small;
        line-height: 25px;
        clear: both;
    }

    #gallery-height {
        height: 0.5em;
    }

    #heading-two-fall {
        font-size: 95%;
    }

    #heading-three-fall {
        font-size: 95%;
    }

    #paragraph-fall {
        font-size: 95%;
    }

    #article {
        width: 100%;
        margin: auto 0;
    }

    #signup-form {
        float: left;
    }

    .text-input {
        width: 40%;
    }
}
